// Fonts

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    background-color: rgb(0, 3, 17);
    background-image: url('/public/3171181.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 40% 20%;
}

.navbar {
    background-color: rgb(0, 3, 17);
}

#campetto {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url('/public/1137.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    transform: scale(0.3);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Variables
$gold: #46390C;
$black-gradient-to-bottom: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 90%);
$black-gradient-to-top: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 90%);

// fut-player-card
.fut-player-card {
    position: absolute;
    width: 300px;
    height: 485px;
    background-image: url(/public/card_bg.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 3.8rem 0;
    z-index: 2;
    transition: 200ms ease-in;

    .player-card-top {
        position: relative;
        display: flex;
        color: #46390C;
        transform: scale(1.3);
        padding: 0 3rem;
        top: 35px;

        .player-master-info {
            position: absolute;
            line-height: 2.2rem;
            font-weight: bold;
            padding: 1.5rem 0;
            text-transform: uppercase;

            .player-rating {
                font-size: 2rem;
            }

            .player-position {
                font-size: 1.4rem;
            }

            .player-nation {
                display: block;
                width: 2rem;
                height: 25px;
                margin: 0.3rem 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .player-club {
                display: block;
                width: 2.1rem;
                height: 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .player-picture {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: relative;
                right: -1.5rem;
                bottom: 0;
            }

            .player-extra {
                position: absolute;
                right: 0;
                bottom: -0.5rem;
                overflow: hidden;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                width: 100%;
                height: 2rem;
                padding: 0 1.5rem;
                text-align: right;
                background: none;

                span {
                    margin-left: 0.6rem;
                    text-shadow: 2px 2px #333;
                }
            }
        }
    }

    .player-card-bottom {
        position: relative;
        top: 15%;
        font-size: larger;
        font-weight: bold;

        .player-info {
            display: block;
            padding: 0.7rem 0;
            color: $gold;
            width: 90%;
            margin: 0 auto;
            height: auto;
            position: relative;
            z-index: 2;

            .player-name {
                width: 100%;
                display: block;
                text-align: center;
                font-size: 1.6rem;
                text-transform: uppercase;
                overflow: hidden;

                span {
                    display: block;
                }
            }

            .player-features {
                margin: 0rem auto;
                display: flex;
                justify-content: center;

                .player-features-col {
                    border-right: 2px solid rgba($gold, 0.1);
                    padding: 0 2.3rem;

                    span {
                        display: flex;
                        font-size: 1.2rem;
                        text-transform: uppercase;

                        .player-feature-value {
                            margin-right: 0.3rem;
                            font-weight: 700;
                        }

                        .player-feature-title {
                            font-weight: 300;
                        }
                    }
                }

                .player-features-col:last-child {
                    border: 0;
                }
            }
        }
    }
}

.footchose {
    opacity: .5;
    transition: .2s;
}

.footchose.selected {
    opacity: 1 !important;
}

.footchose:hover {
    opacity: 1;
}

.addimageplayer {
    cursor: pointer;
    transition: .2s;
}

.addimageplayer:hover {
    transform: scale(1.1);
}

.rolechosecell {
    cursor: pointer;
    border: 0.3px solid rgb(0, 0, 73);
    transition: .3s;
    text-align: center;
    text-transform: uppercase;
}

.rolechosecell:hover {
    background-color: rgb(0, 55, 173);
}

.rolechosecell1 {
    background-color: rgba(255, 255, 0, 0.185) !important;
}

.rolechosecell2 {
    background-color: rgba(172, 255, 47, 0.473) !important;
}

.rolechosecell3 {
    background-color: rgba(34, 139, 34, 0.397) !important;
}


.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
}

.star-rating i.weakstar {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label.weaklabel:is(:hover, :has(~ :hover)) i.weakstar {
    transform: scale(1.35);
    color: #fffdba;
    animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}

.star-rating label.weaklabel:has(~ :checked) i.weakstar {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {

    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }

    100% {
        transform: translatey(-15%) scale(1.35);
    }
}


.star-skill {
    white-space: nowrap;
}

.star-skill [type="radio"] {
    appearance: none;
}

.star-skill i.iconskill {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-skill label.skilllabel:is(:hover, :has(~ :hover)) i.iconskill {
    transform: scale(1.35);
    color: #fffdba;
    animation: jumper 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}

.star-skill label.skilllabel:has(~ :checked) i.iconskill {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jumper {

    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }

    100% {
        transform: translatey(-15%) scale(1.35);
    }
}



.semi-donut-model-2 {
    width: 300px;
    height: 150px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

    &:before,
    &:after {
        content: '';
        width: 300px;
        height: 150px;
        border: 50px solid var(--fill);
        border-top: none;
        position: absolute;
        transform-origin: 50% 0% 0;
        border-radius: 0 0 300px 300px;
        box-sizing: border-box;
        left: 0;
        top: 100%;
    }

    &:before {
        border-color: rgba(0, 0, 0, .15);
        transform: rotate(180deg);
    }

    &:after {
        z-index: 3;
        animation: 1s fillGraphAnimation ease-in;
        transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
    }

    &:hover {
        &:after {
            opacity: .8;
            cursor: pointer;
        }
    }
}


.semi-donut {
    transform: scale(0.4);
    --percentage: 0;
    --fill: #ff0;
    top: -50px;
    left: -45%;
    width: 300px;
    height: 150px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

    &:after {
        content: '';
        width: 300px;
        height: 300px;
        border: 50px solid;
        border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing: border-box;
        transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
        animation: fillAnimation 1s ease-in;
    }
}

.multi-graph {
    width: 300px;
    height: 150px;
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;

    &:before {
        content: '';
        width: 300px;
        height: 150px;
        border: 50px solid rgba(0, 0, 0, .15);
        border-bottom: none;
        position: absolute;
        box-sizing: border-box;
        transform-origin: 50% 0%;
        border-radius: 300px 300px 0 0;
        left: 0;
        top: 0;
    }

    .graph {
        width: 300px;
        height: 150px;
        border: 50px solid var(--fill);
        border-top: none;
        position: absolute;
        transform-origin: 50% 0% 0;
        border-radius: 0 0 300px 300px;
        left: 0;
        top: 100%;
        z-index: 5;
        animation: 1s fillGraphAnimation ease-in;
        transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
        box-sizing: border-box;
        cursor: pointer;

        &:after {
            // content: attr(data-name) ;
            content: attr(data-name) ' ' counter(varible) '%';
            counter-reset: varible var(--percentage);
            background: var(--fill);
            box-sizing: border-box;
            border-radius: 2px;
            color: #fff;
            font-weight: 200;
            font-size: 12px;
            height: 20px;
            padding: 3px 5px;
            top: 0px;
            position: absolute;
            left: 0;
            transform: rotate(calc(-1deg * var(--percentage) * 1.8)) translate(-30px, 0px);
            transition: 0.2s ease-in;
            transform-origin: 0 50% 0;
            opacity: 0;
        }

        &:hover {
            opacity: 0.8;

            &:after {
                opacity: 1;
                left: 30px;
            }
        }
    }
}

@keyframes fillAnimation {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(135deg);
    }
}

@keyframes fillGraphAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }
}

.cliccabile {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        opacity: 0.7;
    }
    &:active  {
        opacity: 0.9;
        border: 1px solid black;
    }
}

#teamzerocontainer
    > .cliccabile {
    max-width: 50% !important;
}
